
    <div id="top">
        <div class="row">
            <div class="small-12 medium-9 columns">
                <img src="{{ "assets/logo-anim.png" | relative_url }}"></img>
                <p>A work-in-progress free and open-source replacement for the Diablo I engine. Simply import the Diablo assets, and enjoy the same old game with faster performance and modern resolutions, and first class support for mods.</p>
            </div>
            <div class="small-12 medium-3 columns" id="downloads">
                <a href="https://github.com/wheybags/freeablo/releases" class="button expand download"><i class="fi-social-windows"></i> Windows</a>
                <a href="https://github.com/wheybags/freeablo/releases" class="button expand download"><i class="fi-archive"></i> Linux</a>
                <a href="https://github.com/wheybags/freeablo/releases" class="button expand download"><i class="fi-social-apple"></i> Mac OS</a>
            </div>

        </div>
    </div>
	<div id="nav" class="contain-to-grid sticky">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
        
        <div class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name"><h1><a href="/">Freeablo</a></h1></li>
            </ul>
            <div class="top-bar-section">
                <ul class="right">
                    	<li><a href="https://github.com/wheybags/freeablo">Github</a></li>
                    	<li><a href="{{ "/media" | relative_url }}">Media</a></li>
                    	<li><a href="https://freeablo.org/forum">Forum</a></li>
                    	<li><a href="https://gitter.im/freeablo/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link">Gitter chat</a></li>
                    	<li><a href="http://webchat.freenode.net/?channels=freeablo">IRC (freenode/#freeablo, bridged to gitter)</a></li>
          			<!--{%- for path in page_paths -%}
            			{%- assign my_page = site.pages | where: "path", path | first -%}
                    	<li><a href="{{ my_page.url | relative_url }}">{{my_page.title | escape }}</a></li>
          			{%- endfor -%}-->
                </ul>
            </div>
            
        </div>
	</div>


    <div id="about">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <h2>What's this all about?</h2>
                <p>We love Blizzard's popular game, Diablo. We love it so much, in fact, that we're willing to spend our precious time developing a free and open source solution for those wanting to play it on a modern computer.</p>
                <p><a href="#">Read more...</a></p>
            </div>
            <div class="small-12 medium-6 columns">
                <h2>Is that legal?!</h2>
                <p>Short answer, yes. We don't distribute any copyrighted game assets, which means you'll need to have a copy of Diablo to be able to play.</p>
            </div>
        </div>
    </div>
