<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  {%- feed_meta -%}
  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}

<link href="{{ "assets/vollkorn.css" | relative_url }}" rel="stylesheet" type="text/css">
 <link href="{{ "assets/css/foundation.min.css" | relative_url }}" rel="stylesheet" type="text/css">
  <link href="{{ "assets/css/foundation-icons.css" | relative_url }}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">


  <script src="{{ "assets/js/vendor/modernizr.js" | relative_url }}"></script>
  <script src="{{ "assets/js/vendor/jquery.js" | relative_url }}"></script>

</head>
