/*
Theme Name: Freeablo Theme
Theme URI: http://freeablo.org
Author: AndrewPH
Author URI: http://hypertext.ml/
Description: A custom Wordpress theme for the Freeablo project.
Version: 1.0
License: MIT License
License URI: http://opensource.org/licenses/MIT
Tags: black, brown, two-columns, right-sidebar, flexible-width, responsive
Text Domain: freeablowp
*/

html, body {
    font-family:"Vollkorn";
}

h1,h2,h3,h4,h5,h6 {
    font-family:"Vollkorn";
}

#top {
    background-color:#444;
    color:#eee;
    background-image:url(http://freeablo.org/wp-content/uploads/2014/11/Screenshot-from-2014-11-13-191438.jpg);
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
}

#top h1 {
    color:#fff;
    text-shadow:0 1px 5px #111, 0 0px #111;
}

#top h1.big {
    font-size:5rem;
}

#top p {
    text-shadow:0 1px 1px #000;
}

#downloads {
    padding-top:1.3rem;
}

.button.download {
    background-color:transparent;
    background-color: rgba(0,0,0,.5);
    border-width:2px;
    border-radius:3px;
    border-color:#a03b3b;
}

.button.download:hover {
    background-color:#c43030;
}

p {
    font-size:1.2rem;
}

h2 {
    color:#333;
}

#top, #about, #blog, #footer {
    padding:20px 0;
}

#about {
    background-color:#f0e7e7;
}

#about p {
    color:#555;
    text-shadow:0 1px rgba(0,0,0,.2);
}

#blog {
    background-color:#fff;
}

#posts {
    list-style:none;
    margin:0;
    padding:5px;
}

#posts li h3 {
    color:#444;
    border-bottom:1px solid #ccc;
}

#posts li h4.subheader {
    color:#777;
    font-size:1rem;
}

#posts li p {
    margin-bottom:1.5rem;
    padding:0;
}

#footer {
    background-color:#222;
    color:#777;
}

#footer a {
    color:#777;
    text-decoration:underline;
}

#footer a:hover {
    color:#999;
}

#nav {
    position:sticky;
    top:0;
}