@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url("vollkorn_regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Vollkorn Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Vollkorn Bold'), local('Vollkorn-Bold'), url("vollkorn_bold.ttf") format('truetype');
}
